<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/shows" method="post">
        <div class="form-group">
            <label for="movie">영화</label>
            <select name="movieId" id="movie" class="form-control">
                <option value="">영화선택</option>
                <option th:each="movie : ${movies}"
                        th:value="${movie.id}"
                        th:text="${movie.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="theater">상영관</label>
            <select name="theaterId" id="theater" class="form-control">
                <option value="">영화선택</option>
                <option th:each="theater : ${theaters}"
                        th:value="${theater.id}"
                        th:text="${theater.name}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>