<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>MOVIE INFO</h1>
    <p class="lead">회원 기능</p>
    <p>
      <a class="btn btn-lg btn-secondary" href="/members/login">로그인</a>
      <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
    </p>
    <p>
      <a class="btn btn-lg btn-dark" href="/rate">평점 등록</a>
      <a class="btn btn-lg btn-dark" href="/shows">상영 정보</a>
    </p>
    <p>
      <a class="btn btn-lg btn-dark" href="/ratings">내 평점</a>
    </p>
    <p class="lead">관리자 기능</p>
    <p>
      <a class="btn btn-lg btn-info" href="/movies/new">영화 등록</a>
      <a class="btn btn-lg btn-info" href="/theaters/new">상영관 등록</a>
    </p>
    <p>
      <a class="btn btn-lg btn-info" href="/shows/new">상영 정보 등록</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>